In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('titanic.db')
titanic_df = pd.read_csv('Titanic Dataset.csv')

In [17]:
query = """
SELECT Name, Age, Pclass, Survived
FROM passengers
WHERE Age >= 16 and Sex = 'male' and Pclass >= 2 and Survived = 1
ORDER BY Age
LIMIT 10
"""

result_sql = pd.read_sql(query, conn)
display(result_sql)

                                           name   age  pclass  survived
0                Sunderland, Mr. Victor Francis  16.0       3         1
1                      Cohen, Mr. Gurshon "Gus"  18.0       3         1
2                     Mellors, Mr. William John  19.0       2         1
3                    Dorking, Mr. Edward Arthur  19.0       3         1
4  Nourney, Mr. Alfred ("Baron von Drachstedt")  20.0       2         1
5      Abrahamsson, Mr. Abraham August Johannes  20.0       3         1
6                         Barah, Mr. Hanna Assi  20.0       3         1
7                   Lindqvist, Mr. Eino William  20.0       3         1
8                              Nakid, Mr. Sahid  20.0       3         1
9                           Buckley, Mr. Daniel  21.0       3         1

Im searching Victor Sunderland, because he is the same gender, age, and likely we would've traveled the same class or only 1 class apart.

    Victor Francis Sunderland was a 20 year old male Farmer from Essex, England. He was travelling to Cleveland, Ohio to visit his uncle J.P. Foley. I chose this type of passenger, because his reasons for embarking would've been the same reason for mine. My criteria for the passenger was to have them be 2nd or 3rd, male, and 16 years old; which the database incorrectly labeled him as 16. He was traveling alone on the Titanic.

    Victor Sunderland was on one of the lasts ships to leave the snkig Titanic. He had to hold off people who were trying to get onto the already overcrowded boat. While on the sinking Titanic, he witnessed a first officer of the Titanic shoot someone who refused to give up his spot to a woman. He was smoking on his bunk when the Titanic started sinking, he ran out with his bunkmates. When Sunderland was on his boat he heard the screams and cries of other people in the waters, he heard these for about 20 minutes before they all stopped.

    Victor Sunderland got on the Carpthia the next day, he was saved from the boat. He remarked how he was served cold coffee. He later went on to do multiple news interviews and stories about his Titanic recounting. He went on to marry May McNaughton and had a single child, he became a plumber until his retirement in 1939. Victor would live in Toronto and live there the rest of his live after the Titanic with his wife and child. He would in 1977 at the age of 73 in Toronto.

    "Victor Francis Sunderland" Encyclopedia Titanica, 2025. https://www.encyclopedia-titanica.org/titanic-survivor/victor-francis-sunderland.html. Accessed: January 6, 2026.
    "Sticks to TItanic Till Last Minute" Titanic Archive, 1912. https://titanicarchive.org/collections/newspapers/victor-francis-sunderland/sticks-to-titanic-till-last-minute. Accessed: January 6, 2026.

Questions: 
1. It helped me look at the data and filter it without having to do tons of research on each passenger, the only problem was that the database is incorrect with some information.

2. Victor Sunderland wasn't well known so it was hard finding sites that were reliable.

3. He was heading to Cleveland Ohio, which is only 30 minutes from us.

4. AI will make mistakes and be confident in it's mistakes, but tpyically historical records tend to be true.